/* Estilo da página inteira */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* Final do estilo da página  */

/* Estilo do corpo da página */
body{
    margin: 0;
}
/* Final do estilo do corpo da página */

/*  Estilo do título da página */
h2{
    background-color: #616161;
    color: #FFF;
    padding: 10px;
}
/* Final do estilo do título da página  */

/* Estilo da tabela */
table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,td{
    padding: 10px;
}

table, th, td{
    border: 1px solid #000;
    text-align: left;
}
/* Final do estilo da tabela */